<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="platnosc">
            <h2><span>Platnosc</span> {{ platnosc.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Elektroniczna</span></dt>
                <dd>
                    <span>{{ platnosc.elektroniczna }}</span>
                </dd>
                <dt><span>Posrednik</span></dt>
                <dd>
                    <span>{{ platnosc.posrednik }}</span>
                </dd>
                <dt><span>Zamowienie</span></dt>
                <dd>
                    <div *ngIf="platnosc.zamowienie">
                        <a [routerLink]="['/zamowienie', platnosc.zamowienie?.id, 'view']">{{ platnosc.zamowienie?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/platnosc', platnosc.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
