<div>
    <h2 id="page-heading">
        <span>Raports</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-raport" [routerLink]="['/raport/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Raport
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="raports?.length === 0">
        <span>No raports found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="raports && raports.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Opis</span></th>
                    <th scope="col" ><span>Data Utworzenia</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let raport of raports ;trackBy: trackId">
                    <td><a [routerLink]="['/raport', raport.id, 'view']">{{ raport.id }}</a></td>
                    <td>{{ raport.opis }}</td>
                    <td>{{ raport.dataUtworzenia | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/raport', raport.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/raport', raport.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(raport)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
