<div>
    <h2 id="page-heading">
        <span>Produkts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produkt" [routerLink]="['/produkt/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Produkt
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="produkts?.length === 0">
        <span>No produkts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="produkts && produkts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nazwa</span></th>
                    <th scope="col" ><span>Cena</span></th>
                    <th scope="col" ><span>Opis</span></th>
                    <th scope="col" ><span>Moc</span></th>
                    <th scope="col" ><span>Dostepnosc</span></th>
                    <th scope="col" ><span>Pojemnosc</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produkt of produkts ;trackBy: trackId">
                    <td><a [routerLink]="['/produkt', produkt.id, 'view']">{{ produkt.id }}</a></td>
                    <td>{{ produkt.nazwa }}</td>
                    <td>{{ produkt.cena }}</td>
                    <td>{{ produkt.opis }}</td>
                    <td>{{ produkt.moc }}</td>
                    <td>{{ produkt.dostepnosc }}</td>
                    <td>{{ produkt.pojemnosc }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/produkt', produkt.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/produkt', produkt.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(produkt)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
