<div>
    <h2 id="page-heading">
        <span>Dostawas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dostawa" [routerLink]="['/dostawa/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Dostawa
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dostawas?.length === 0">
        <span>No dostawas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dostawas && dostawas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Adres</span></th>
                    <th scope="col" ><span>Numer Kontaktowy</span></th>
                    <th scope="col" ><span>Data Wysylki</span></th>
                    <th scope="col" ><span>Dostawca</span></th>
                    <th scope="col" ><span>Zamowienie</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dostawa of dostawas ;trackBy: trackId">
                    <td><a [routerLink]="['/dostawa', dostawa.id, 'view']">{{ dostawa.id }}</a></td>
                    <td>{{ dostawa.adres }}</td>
                    <td>{{ dostawa.numerKontaktowy }}</td>
                    <td>{{ dostawa.dataWysylki | date:'medium' }}</td>
                    <td>{{ dostawa.dostawca }}</td>
                    <td>
                        <div *ngIf="dostawa.zamowienie">
                            <a [routerLink]="['/zamowienie', dostawa.zamowienie?.id, 'view']" >{{ dostawa.zamowienie?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dostawa', dostawa.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dostawa', dostawa.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dostawa)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
